body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;;
    color: #181818;
    background: #fff; 
    font-size: 1em;
    line-height: 1.6em;
    padding-top: 98px; /* Relleno superior igual a la altura de la cabecera*/

}

/* header */
#main-header {
    background: #464645;
    color: white;
    height: 80px;
    
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
  
    #main-header a {
        color: white;
    }
 /*Header  */





/* Logo */
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
    #logo-header:hover {
        color: #0b76a6;
    }
    
    #logo-header .site-name {
        display: block;
        font-weight: 700;
        font-size: 2.63em;
        font-family:'lobsterregular';
        color:#35CFE6;
}

    #logo-header .site-desc {
        display: block;
        font-weight: 300;
        font-size: 0.8em;
        color: #999;
        padding-top: 4px
    }
    
 #logo-header .site-name:hover{
    color: #fff;    
    -webkit-transition: color 300ms ease-in-out;
}
/* Logo */




/* barra de navegacion */

ul, ol {
                list-style:none;
                 padding-left: 0px;
            }

.nav {
    float: right;
    margin: 0;
}

.nav > li {
                float:left;
                margin: 0;
             padding: 0;
            list-style: none;
            padding-right: 30px;
             }

.nav li a {
                text-decoration:none;
                display:block;
                text-decoration: none;
                background: #686868;
                margin:10px 0px 10px 3px ;
                padding: 20px 30px 10px 30px;
                height: 30px;
                border-radius: 5px;
                font-family: verdana;
                font-size: 14px;
            }
.nav li #home {
    background:#35CFE6;
    pointer-events: none;
}
            
            .nav li a:hover {
                 background: #35CFE6;
                        -webkit-transition: color 300ms ease-in-out;
            }
            
            .nav li ul {
                display:none;
                position:absolute;
                min-width:140px;
            line-height: 42px;

            }
            
            .nav li:hover > ul {
                display:block;
            }
            
            .nav li ul li {
                position:relative;
            }
            
            .nav li ul li ul {
                right:-140px;
                top:0px;
            }


/* Footer */
#main-footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 290px;
}
    #main-footer p {
        margin: 0;
    }
    
    #main-footer a {
        color: white;
    }

/* Footer */

.main .articles {
    width: 90%;
    margin-left:5%;
}

.main .articles article{
    padding:20px;
    margin-bottom:20px;
}

#per-titu {
    text-align: center;
    font-size: 34px;

}

#site-name:hover{
        color: 
}


.icon-home{
    margin: 0px 5px 0px 0px;
}

.icon-aid-kit{
    margin: 0px 5px 0px 0px;
}

.icon-film {
    margin: 0px 5px 0px 0px;
}

.icon-wondering2 {
    margin: 0px 5px 0px 0px;
}

#divisionqueson {
    border: 0px;
    border-top:2px solid #E9E9E9;  
}

#sero{
 color: #35CFE6;
}

#debehaber{
    background:#DADADA;
    border: 1px solid #D2D2D2;
    padding: 15px;
    border-radius: 5px;
    line-height:29px;
    padding-bottom: 3px;
}

#footer-menor{
    font-size: 12px;
}

.paraacc{
    text-align: center;
}
 
.nav li #enferme {
    background:#35CFE6;
}

#imagen {
    border-radius: 10px; 
    float: right; 
    margin-left: 20px;
    margin-bottom: 10px; 
    margin-top: 200px;
}

#descrip{
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px
}

#guion{
    background: #35CFE6;
    margin-right: 10px;
    border-radius:70px;
    color:#35CFE6;
    font-size: 7px;
}

#hospital {
    text-align: left;
}

#textohospital{
    float: left;
}

#contacto{
    
    border: solid #464645;
    border-width: 1px;
    padding: 20px 50px 10px 120px;
    border-radius: 7px;
    width: 400px;
    
    
    
    
    color: #464645;
    font-family:verdana;
    font-size: 16px;
}

#horario{
    width: 560px;
    margin-right: 10px;
    border: solid #464645;
    padding: 20px 1px 10px 10px;
    color: #464645;
    border-radius: 7px;
    border-width: 1px;
    
}

h1{
    font-size: 40px;
    text-align: center;
    font-family: calibri;
    color: #464645;
}

#aviso{
    text-align: center;
font-size: 38px;
line-height: 60px;
background:#D73C3C;
border-radius: 10px;
padding: 40px;
font-family:calibri;
color: #fff;
margin-top: 50px;

}

#mostrar{
    margin-left: 489px;
    text-decoration: none;
    font-size: 25px;
    background: ;
    color: #D73C3C;
    padding: 15px;
    border-radius: 10px;
    border: solid #D73C3C;
    margin-top: 50px;
}


#mostrar:hover{
    margin-left: 489px;
    text-decoration: none;
    font-size: 25px;
    background: #D73C3C;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    border: solid #D73C3C;
    margin-top: 50px;
}
video{
    margin-top: 20px;
    margin-left: 20px;
    width: 341px;
}

#ultimo{
margin-left: 320px;
}